<!DOCTYPE html>
<html>
    <head>
        <title>Calcula Média</title>
    </head>
    <body>
        <h1>Aprovado ou reprovado</h1>
        <div>
            <form method="get">
                <label for="first">Primeira Nota</label>
                <input type="text" name="first" id="first">

                <br>

                <label for="second">Segunda Nota</label>
                <input type="text" name="second" id="second">

                <br>

                <input type="submit" value="Enviar">
            </form>
        </div>

        {% if resultado %}
            <div>
                <h2>Resultado</h2>
                <p>{{ resultado }}</p>
            </div>
        {% endif %}
    </body>
</html>